<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>

    <h1>Usuarios creados</h1>
    <ol>
      <% users.forEach(function(user){ %>
      <li><%=user.name%>-<%=user.lastname%></li>
      <%})%>
    </ol>
  </body>
</html>